<div class="content">
  <div [routerLink]="['/']" class="back">
    <p><span class="material-icons">keyboard_arrow_left</span>Back</p>
  </div>

  <h1>How do we know?</h1>

  <p>
    We use the Mitre Attack group list (available <a href="https://attack.mitre.org/groups/">here</a>). We then
    link each group to a set of activity area which it is known to target. This association is done manually, by
    studying the description of those groups and their known attacks.
  </p>

  <p>
    We are then able to filter our group list based on those activity area tags we gave them.
  </p>

  <h2>Why did we do this?</h2>

  <p>
    This web app is part of a scholarship assignment in our Threat Intelligence course. We had a limited time to
    build a solution linked to Threat Intelligence. This idea came as we asked ourselves the question of which group
    we might be able to encounter in our respective companies.
  </p>

  <h2>I have remarks</h2>

  <p>
    Fair enough. Send a mail at <a href="mailto:pierre-marie.taillantou-candau@epita.fr">pierre-marie.taillantou-candau@epita.fr</a>
    or <a href="mailto:louis.dupont@epita.fr">louis.dupont@epita.fr</a>. We will read and reply as soon as we can.
  </p>
</div>
