
.content {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  z-index: 2;

  form {
    width: 100%;
    margin-top: 100px;

    label {
      width: 100%;
    }

    input[type=text] {
      width: calc(100% - 22px);
      height: 38px;
      margin-top: 10px;
      font-size: 18px;
      border: 1px solid white;
      border-radius: 10px;
      background: transparent;
      color: white;
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      font-family: 'Roboto Mono', monospace;
      padding: 0 10px;
    }

    .tags-list-open {
      border-radius: 10px 10px 0 0 !important;
    }

    .tags {
      border: 1px solid white;
      border-top: none;
      border-radius: 0 0 10px 10px;
      padding-top: 1px;
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);

      .tag {
        margin: 10px;
        transition: 1s;

        p {
          margin: 0;
          transition: 1s;
        }

        p:hover {
          cursor: pointer;
          text-decoration: underline dashed;
        }
      }
    }
  }

  .results {

    .result {
      width: calc(100% - 42px);
      border: 1px solid white;
      border-radius: 10px;
      padding: 20px;
      margin: 10px 0;
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);

      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        border-bottom: 1px dashed white;
        padding-bottom: 8px;

        h4 {
          margin: 0;
        }

        a {
          color: white;
        }
      }

      p {
        margin: 8px 0 0;
      }

      .tags {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .tag {
          background-color: white;
          padding: 10px 20px;
          margin-right: 10px;
          margin-bottom: 10px;
          border-radius: 10px;
          text-decoration: none;

          p {
            margin: 0;
            color: black;
          }
        }
      }
    }
  }

  .how {
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }
}
